body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }
  body.no-scroll {
    overflow: hidden;
  }
  h1 {
    font-weight: 900;
    text-transform: uppercase;
  }
  .fsm {
    margin: 10vh 5vw;
    background-color: blue;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  .fsm .fa {
    transition: 1s;
    color: #f5f5f5;
    font-size: 2.5vw;
  }
  .fsm .fa:before {
    color: #f5f5f5;
  }
  .fsm .modal-content {
    height: 0;
    width: 0;
    margin: 0;
  }
  .fsm h1.modal-content {
    opacity: 0;
    transition: 0.5s;
  }
  .fsm.red {
    background: linear-gradient(135deg, #f01111 0%, #f00a0a 100%);
  }
  .fsm.green {
    background: linear-gradient(135deg, #6ecdc7 0%, #13e9db 100%);
  }
  .fsm.gray {
    background: linear-gradient(135deg, #789 0%, rgb(137, 142, 148) 100%);
  }
  .fsm.blue {
    background: linear-gradient(135deg, #4285f4 0%, #0763f7 100%);
  }
  .fsm.growing h1.modal-content {
    height: auto;
    margin: 0;
    opacity: 0;
    transition-delay: 0.5s;
  }
  .fsm.full-screen {
    height: 100vh;
    z-index: 100;
    margin: 0;
    border-radius: 0;
  }
  .fsm.full-screen .fa {
    font-size: 10vw;
  }
  .fsm.full-screen .modal-content {
    height: auto;
    width: auto;
    margin: inital;
  }
  .fsm.full-screen h1.modal-content {
    transition-delay: 0.5s;
    opacity: 1;
  }
  .fsm.shrinking h1.modal-content {
    transition-delay: 0s;
    transition: 0.5s;
    opacity: 0;
    display: block;
  }
  .fsm-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  .color1 {
    background-color:  #A0DDFF;
  }
  .color2 {
    background-color:  #F34213;
  }
  .color3 {
    background-color:  #987ED6;
  }
  .color4 {
    background-color:  #5EFC8D;
  }
  .color5 {
    background-color:  #FFEE0A;
  }
  .color6 {
    background-color:  #2E933C;
  }
  .color7 {
    background-color:  #FF9442;
  }
  .color8 {
    background-color: #13e9db;
  }
  .color9 {
    background-color: #FF1194;
  }